body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(32, 34, 33);
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:cadetblue;
    padding:8px;
    text-align:center;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:wheat;
}
/* This is for the fancy class. */
.fancy {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(32, 34, 33);
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.2em;
    border:4px solid white;
    padding:12px;
    margin: 12px;
    background-color: honeydew;
}