#content{
    max-width: 1600px; margin: 0 auto;
}
nav a{
    text-align:center;
    color:#f4a261;
    text-decoration:none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align:center;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
#background{
    height:725px;
}
body{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    margin:0;
    padding:0;
}
header{
    background-color:#1c2541;
}
nav a:hover{
    background-color:#0b132b;
    color:#5bc0be;
}
.book, .join{
    background-color:#3a506b;
    color:#f4a261;
    text-decoration: none;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:#0b132b;
    color:#f4a261;
}
#background{
    background-color:#3a506b;
}
.msg{
    background-color:#3a506b;
    padding: 35px;
}
footer{
    background-color:#3a506b;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color:#5bc0be;
    font-size:2em;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
h4{
    color:#f4a261;
}
.msg h2{
    color:#f4a261;
}
.msg p{
    color:#f4a261;
    font-size:.8em;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}
footer h3{
    color:#f4a261;
}
footer a{
    color:#f4a261;
    text-decoration: none;
}
footer a:hover{
    color:#f4a261;
}
.icon{
    width:80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
h2{
    margin:0;
}
footer .social img{
    padding-top: 15px;
}
#logo-link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin:200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
}
main section img{
    box-sizing: border-box;
}